* { box-sizing: border-box; }

html { overflow-y: scroll; 
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  scroll-behavior: smooth;
}
 
body { background: #06061a; color: #f3f3f3; overflow-x: hidden; font-family: "Raleway", system-ui; }

.bg { background: linear-gradient(150deg, rgba(172, 60, 246, 0.2), #06061a);  }

/* HEADER */
header { display: flex; justify-content: space-between; align-items: center; padding: 1.25rem; max-width: 1366px; margin-inline: auto;  }
.header__logo { font-size: 1.5rem; font-weight: 600; } 
.nav__ul { list-style: none; display: flex; gap: 2rem; } 
.nav__a { color: inherit; text-decoration: none; }
.header__icon-btn { display: none; } 
.header__icon { width: 1.75rem; height: 1.75rem; }

/* HERO SECTION */
.hero { display: flex; padding-inline: 1.25rem; padding-top: 6rem; overflow: hidden; max-width: 1280px; margin-inline: auto;  }
.hero__left, .hero__right { flex: 1; }
.hero__text { color: #2eb1a3; text-transform: uppercase; font-family: 600; margin-bottom: 1rem; } 
.hero__title { font-size: 3rem; line-height: 1.1; font-weight: 500; letter-spacing: -0.05em; } 
.hero__description { font-size: 0.9rem; opacity: 0.6; font-weight: 300; line-height: calc(1em + 0.5rem); margin-block: 1.5rem; max-width: 55ch; }
.hero__btn { background: linear-gradient(to right, #e8546b, #ac3cf6); padding: 0.5em 2em; border-radius: 6px; color: #000; }
.hero__img { max-width: 700px; } /* Hero Right */ 

/* INFO SECTIONS */
.info { padding-top: 2rem; padding-bottom: 4rem; max-width: 1280px; margin-inline: auto; }
.line { width: 100%; height: 2px; background-color: rgba(255, 255, 255, 0.15);}
.items-wrapper { margin-top: 4rem; display: flex; flex-wrap: wrap; gap: 1.5rem; padding-inline: 1.25rem; }
.item { flex: 1; min-width: 150px; }
.item__title { font-size: 2.5rem; font-weight: 600; line-height: 1; text-align: center; }
.item__description { color: rgba(255, 255, 255, 0.7); text-transform: uppercase; text-align: center; }

/* INFO WRAPPER  */
.info-wrapper { display: flex; align-items: center; padding-inline: 1.25rem; gap: 1.5rem; margin-top: 7rem; }
.info-left { flex: 1; }
.info-right { flex: 1; }
.section__up-text { color: #2eb1a3; text-transform: uppercase; font-weight: 700; }
.section__title { font-size: 2.5rem; line-height: 1.2; font-weight: 500; }
.section__description { color: rgba(255, 255, 255, 0.7); line-height: calc(1em + 0.7rem); margin-block: 1rem; }
.section__btn {  background: linear-gradient(to right, #e8546b, #ac3cf6); padding: 0.5em 2em; border-radius: 6px; color: #000; }

/* FEATURES SECTION  */
.features { max-width: 1280px; margin-inline: auto; }
.features-wrapper { background-color: #131325; padding: 4rem 2rem; border-radius: 12px; }
.features__text { text-align: center; }
.features--description { max-width: 60ch; margin-inline: auto; }

.features__cards { display: flex; flex-wrap: wrap; gap: 2rem; row-gap: 4rem; margin-top: 6rem;}
.feature__card { background-color: #252830; padding: 6rem 2rem 2rem 2rem; border-radius: 12px; flex: 1; min-width: 300px; position: relative;}
.feature__card-img { width: 6rem; position: absolute; top: -3rem; left: 2rem;  }
.feature__card-title { font-size: 1.3rem; font-weight: 500; } 
.feature__card-description { font-size: 1rem; color: rgba(255, 255, 255, 0.6); font-weight: 300; } 

/* INFO 2 */
.info2 { padding-top: 8rem;  width: 1200px; margin-inline: auto; padding-inline: 1.25rem; display: flex; flex-direction: column; gap: 6rem; }
.info2-wrapper { display: flex; gap: 4rem; }
.info2--flex1 { flex: 1; }
.info2__img { width: 100%; max-width: 500px; }
.info2--img { order: 1;}
.info2__btn { color: #2eb1a3; font-weight: 600; font-size: 1.125rem; display: flex; gap: 0.5rem; position: relative; background-color: transparent; border: 0;}
.info2__btn-icon { width: 1.25rem ; }
.info2__btn::after { content:""; position: absolute; bottom: -0.25rem; left: 0; width: 100%; height: 2px; background-color: #2eb1a3;}

/* Banner */ 
.banner { width: 100%; height: 300px; display: flex; justify-content: center; align-items: center; }
.banner-img { max-width: 100%; height: auto; border-radius: 16px; } 

/* Testimonial */
.testimonial { width: 100%; padding: 50px 0; }
.testimonial-wrapper { display: flex;  justify-content: space-between; align-items: flex-start; max-width: 1280px; margin: 0 auto; padding: 0 20px; }
.section__title-testimonial { font-size: 2.5rem; font-weight: 800; gap: 2rem; }
.testimonial__right { flex: 1; padding: 40px; }
.testimonial__left { flex: 1; padding: 20px; }


/* Estilos Gerais do Rodapé */
.footer {
  background: linear-gradient(to right, #994f5a, #540e83); padding: 0.5em 2em; border-radius: 6px; color: #000; color: #fff; padding: 2rem ; text-align: left; }
.footer-container { display: flex; justify-content: space-between; align-items: flex-start; max-width: 1200px; margin: 0 auto; } 
.footer-about { flex: 1; padding: 0 20px; } 
.footer-about h3 { font-size: 20px; margin-bottom: 10px; color: #e0f7fa; }
.footer-about p { font-size: 14px; line-height: 1.6; } 
.footer-links { flex: 1; padding: 0 20px; } 
.footer-links h3 { font-size: 20px; margin-bottom: 10px; color: #e0f7fa; }
.footer-links ul { list-style: none; padding: 0; } 
.footer-links ul li { margin-bottom: 8px; }
.footer-links ul li a { color: #b2dfdb; text-decoration: none; font-size: 1rem; }
.footer-social { flex: 1; padding: 0 20px; } 
.footer-social h3 { font-size: 20px; margin-bottom: 10px; color: #e0f7fa; } 
.footer-social ul { list-style: none; padding: 0; display: flex; gap: 15px; } 
.footer-social ul li { display: inline-block; }  .footer-social ul li a img { width: 24px; height: 24px; }
.footer-bottom { text-align: center; margin-top: 30px; }
.footer-bottom p { font-size: 12px; color: #b2dfdb; }




/* MEDIA QUERIES */

@media (width < 768px) {
  .header__nav { display: none; } 
  .header__icon-btn { display: block; }

  .info2-wrapper { flex-direction: column; align-items: center; gap: 2rem; }
  .info2__img { max-width: 100%; }
  .info2__btn { font-size: 1rem; padding: 0.75rem 1.5rem; }  
  .info2--img { order: 0}

  .testimonial-wrapper { flex-direction: column; padding: 0 15px; } 
  .testimonial__right, .testimonial__left {  padding: 20px 0; }
  .section__title-testimonial { font-size: 2rem; text-align: center; }

  .testimonial-wrapper { flex-direction: column; text-align: center; }
  .footer-container { flex-direction: column; align-items: center; text-align: center; }
  .footer-about, .footer-links, .footer-social { padding: 20px 0; }
  .footer-links ul { padding-left: 0; }

}

@media (width < 475px) {
  .hero__title { font-size: 2.5rem; }
  .section__title { font-size: 2rem; }    

  .section__title-testimonial { font-size: 1.75rem; } 
  .testimonial__right, .testimonial__left { padding: 10px; }
  .footer { padding: 1.5rem; }
  .footer-about p, .footer-links ul, .footer-social ul { font-size: 12px; } 
  .footer-bottom p { font-size: 10px; }
}

@media (width < 1024px ) {
  .hero { flex-direction: column; gap: 2.5rem; }
  .hero__title { max-width: 20ch; } 
  .hero__img { width: 90%; max-width: 400px; margin-inline: auto; }
  
  .info-wrapper { flex-direction: column; }
  .section__description { max-width: 60ch; }  

  .info2 { width: 90%; }
  .info2-wrapper { flex-direction: column; align-items: center;  }
  .info2--img { order: 0;}
} 
